@import "../helpers/medias";

.btn_center{
    display: flex;
    margin: 5% 0;
    justify-content: center;
    .btn_red{
        margin:auto;
        border: 1px solid #D60812;
        color:white;
        background: #D60812;
        padding: .9em .9em;
        font-size: 16px;
        font-weight: 600;
        transition: all .4s;
        width: 12.85em;
        border-radius: .25em;
        text-align: center;

        @include media-max(lg){
            padding: .45em .65em;
            font-size: 1.15em;
            width: 100%;
        }

        &:hover{
            border: 1px solid #D60812;
            color:#D60812;
            background: transparent;
        }
    }
}

.btn_red{
    margin: auto;
    border: 1px solid #D60812;
    color: white;
    background: #D60812;
    padding: .9em .9em;
    font-size: 1.25em;
    transition: all .4s;
    width: 12.85em;
    border-radius: .25em;
    text-align: center;

    @include media-max(lg){
        padding: .45em .65em;
        font-size: 1.15em;
        width: 100%;
    }

    &:hover{
        border: 1px solid #D60812;
        color:#D60812;
        background: transparent;
    }
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #DFDFDF;
    opacity: 1;

    &.swiper-pagination-bullet-active{
        width: 13px;
        height: 13px;
        background: #CE1B29;
    }
}