@import "../helpers/medias";

section{
    &.form_call_cta{

        height: 669px;

        
        @include media-max(lg){
            height: 586px;
        }

        .ajax-loader{
            background: transparent;
            width: 10em;
            background-repeat: no-repeat;
            height: 10em;
            padding: .5em;
            top: -9.5em;
            left: 70%;
            margin: -25% -25%;
            z-index: 9;
            position: relative;
            overflow: hidden;
            background-size: 100%;
            border-radius: .25em;

            &:before{
                background-image: url('/wp-content/themes/construcao/config/src/loader.svg');
                content: '';
                display: block;
                width: 100%;
                z-index: 0;
                position: relative;
                height: 100%;
            }
        }

        a{
            color: #D60812;
            font-weight: bold;
            text-decoration: underline;
        }


        &.bg_{
            //background-size: 80% 100%;
            background-repeat: no-repeat;
            background-position-x: 100%;
            width: 100%;
            background-size: contain;

            @include media-max(sm){
                background-size: cover;
            }
        }

        &:before {
            content: '';
            background: #AEAEAE;
            width: 100%;
            display: block;
            height: 100%;
            opacity: 0.5;
            position: relative;
            margin-bottom: -30%;
            pointer-events: none;
        }

        .form_space {
            z-index: 2;
            position: relative;
            top: -50px;
            padding: 0 6em;

            @include media-max(lg){
                top: -127px;
            }

            @include media-max(sm){
                padding: 0 .5em;
                top: -387px;
            }

            .certify_pos {
                width: 135px;
                height: 135px;
                background: white;
                position: relative;
                z-index: 1;
                border-radius: .3em;
                float: right;
                margin: -8% 0 0 0;
                border-right: 5px solid #D60812;

                @include media-max(sm){
                    display: none;
                }

                i{
                    &.icon{
                        &.icon_cta_certify{
                            width: 120px;
                            height: 120px;
                            margin: auto;
                            display: block;
                            background-size: 100%;
                        }
                    }
                }
            }

            .form_controller{
                width: 43.25%;
                //height: 35vh;
                font-weight: 500;

                @include media-max(sm){
                    width: 100%;
                }

                .wpcf7-validation-errors{
                    position: absolute;
                    border-color:#D60812;
                    border-radius: .25em;
                    background: #D60812;
                    color:white;
                    margin: -0.25em;
                    width: 28.75%;
                    padding: .25em 0;
                    text-align: center;
                }

                .full{
                    margin: 2% 0;


                    span{

                        &.wpcf7-not-valid-tip{
                            color: #D60812;
                            position: absolute;
                            z-index: 1;
                            width: auto;
                            top: 6.5%;
                            right: 6%;
                            font-size: 65%;
                            border-radius: .25em;
                            padding: .25em;
                            font-weight: bold;
                            text-align: center;
                        }

                        input{
                            width: 95%;
                            margin: 1.5% 5% 1.5% 0;

                            @include media-max(sm){
                                margin: 1.5% 2.5% 1.5% 2.5% !important;
                            }

                            padding: 2% 1.5%;
                            border-radius: .25em;
                        }
                    }

                    p{
                        input{
                            width: 12.85em;
                            margin: 1.5% 5% 1.5% 0;

                            @include media-max(sm){
                                margin: 1.5% 2.5% 1.5% 2.5% !important;
                            }

                            padding: 2% 1.5%;
                            text-align: center;
                            font-size: 18px;
                            font-weight: 600;
                            border: 2px solid #D60812;
                            color:white;
                            background: #D60812;
                            border-radius: .25em;
                            transition: all .4s;
                    
                            &:hover{
                                border: 2px solid #D60812;
                                color:#D60812;
                                background: transparent;
                            }
                        }
                    }
                }
                .middle{
                    span{
                        input{
                            width: 45%;
                            margin: 1.5% 5% 1.5% 0;
                        }

                        &.wpcf7-not-valid-tip{
                            right: 12.5%;
                        }
                    }
                }
            }

            .title_form_call{
                width: 41%;

                @include media-max(sm){
                    width: 100% !important; 
                    margin: 3% !important;
                }

                @include media-max(lg){
                    width: 50%;
                    margin: 3% 0 0 0;
                }

                h3{
                    font-weight: 800;
                    font-size: 28px;
                    
                    margin: 2% 0 2% 0;
                    color:#676767;
                }
                p{
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
    }
}