@import "../helpers/medias";


$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 220px;
$select-height: 40px; 


.lance-title{
    color:#676767;
    margin: 2% 5%;
    span{
        color:#CE1B29;
    }
}

.title-search{
    font-size: 28px;
    color: #676767;
    margin: 1.5% 0;
    padding: 2% 5%;
}

.search{
        margin: 2% 5%;
        padding: 2%;
        background: #ececec;

    h3 {
        font-size: 28px;

        @include media-max(lg){
            font-size: 20px;
        }

        color: #676767;
        margin: 1.5% 0;
    }
    p{
        font-size: 22px;
        font-weight: 500;
        color: #676767;
    } 

    .formulario{
        form{
            &.searchandfilter{
                label{
                }

                select{
                    &.sf-input-select{
                        width:100%;
                        height: 100%;
                        cursor: pointer;
                        padding: 0 0.5em;
                        background: transparent;
                    }

                    option{
                        font-size: 12px;
                        color: #676767;
                        font-family: 'Roboto', sans-serif;
                    }
                }

                ul{
                    display: inline-flex;

                    @include media-max(nt){
                        flex-wrap: wrap;
                    }

                    width: 100%;
                    li{
                        padding: .5em 0 0 0;
                        margin: 0 1%;
                        //border-bottom: 1px solid #676767;
                        width: 100%;


                        
                        @include media-max(sm){
                            margin: 0;
                            width: 100% !important;
                        }


                        @include media-max(nt){
                            margin: 2%;
                            width: 29%;
                        }

                        @include media-max(lg){
                            padding: 5px 0;
                        }

                        &::after{
                            content:'\e802';
                            display: flex;
                            margin: -1.95em .5em 0 .5em;
                            position: relative;
                            width:10px;
                            height: 10px;
                            color: #CE1B29;
                            float: right;
                            pointer-events: none;

                            //fontello
                            font-family: "vc-icons";
                            font-style: normal;
                            font-weight: normal;
                            speak: none;
                            text-decoration: inherit;
                            width: 1em;
                            text-align: center;
                            font-variant: normal;
                            text-transform: none;
                            line-height: 1em;
                            -webkit-font-smoothing: antialiased;
                        }

                        &:first-child{
                            margin: 0 1% 0 0;

                                
                            @include media-max(nt){
                                margin: 2%;
                            }
                        }

                        &:last-child{
                            border-bottom: 0;
                            input{
                                transition: all .4s;
                                height: 57%;
                                margin: 1.15em 0;
                                cursor: pointer;
                                border: 1px solid #CE1B29;
                                background: #D60812;
                                color: white;

                                &:hover{
                                    border: 1px solid #CE1B29;
                                    background: transparent;
                                    color:#D60812;
                                }
                            }

                            &::after{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

 
.page-template-imoveis{
    .search-imoveis{
        margin: 2% 5%;
        padding: 2%;
        background: #ececec;
        h3 {
            font-size: 28px;

            @include media-max(lg){
                font-size: 20px;
            }

            color: #676767;
            margin: 1.5% 0;
        }
        p{
            font-size: 22px;
            font-weight: 500;
            color: #676767;
        } 
    
        .formulario{
            form{
                &.searchandfilter{
                    label{
                        width: 100%;
                    }
    
                    select{
                        &.sf-input-select{
                            width:100%;
                            height: 100%;
                            cursor: pointer;
                            background: transparent;
                            color:#AEAEAE;
                    
                        }
    
                        option{
                            height: 2em;
                            color:#AEAEAE;
                            background: #AEAEAE;
                            &:hover{
                                background:#E9E9E9;
                                color:white;
                            }
                        }
                    }
    
                    ul{
                        display: inline-flex;
                        width: 100%;


                        @include media-max(sm){
                            flex-direction: column;
                        }

                        li{
                            padding: .5em 0 0 0;
                            margin: 0 1%;
                            //border-bottom: 1px solid #676767;
                            width: 100%;
                            &::after{
                                content:'\e802';
                                display: flex;
                                margin: -1.5em 0 0 0;
                                position: relative;
                                width:10px;
                                height: 10px;
                                color: #CE1B29;
                                float: right;
                                pointer-events: none;
    
                                //fontello
                                font-family: "vc-icons";
                                font-style: normal;
                                font-weight: normal;
                                speak: none;
                                text-decoration: inherit;
                                width: 1em;
                                margin-right: .2em;
                                text-align: center;
                                font-variant: normal;
                                text-transform: none;
                                line-height: 1em;
                                margin-left: .2em;
                                -webkit-font-smoothing: antialiased;
                            }
    
                            &:first-child{
                                margin: 0 1% 0 0;
                            }
    
                            &:last-child{
                                border-bottom: 0;
                                input{
                                    transition: all .4s;
                                    height: 57%;
                                    margin: 1.15em 0;
                                    cursor: pointer;
                                    border: 1px solid #CE1B29;
                                    background: #D60812;
                                    color: white;

                                    @include media-max(sm){
                                        padding: 1.15em;
                                    }
    
                                    &:hover{
                                        border: 1px solid #CE1B29;
                                        background: transparent;
                                        color:#D60812;
                                    }
                                }
    
                                &::after{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.lance-title{
    color: #676767;
    font-size: 22px;
    margin: 2% 5%;

    span{
        color:#D60812;
    }
}


.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    //background-color: DodgerBlue;
    border-bottom: 1px solid #AEAEAE;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;

    @include media-max(sm){
        position: relative;
        display: none;
    }

    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div, .select-selected {
    padding: 8px 16px;
    color: #AEAEAE;
    /* border-color: transparent transparent rgba(0,0,0,0.1) transparent; */
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #FEFEFE;
    z-index: 99;
    width: 19.55em;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    overflow-x: hidden;
    max-height: 16.5em;
    height: auto;
}
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
    color:white;
  }


  .sf-input-select{
      display: none;
  }