@import 'geral.scss';
@import '../../node_modules/swiper/css/swiper.css';
@import 'helpers/variaveis';
@import 'helpers/medias';

@import "components/nav";
@import "components/main_banner";
@import "components/search_home";
@import "components/tab_info";
@import "components/imoveis_exibition";
@import "components/btn";
@import "components/cta_call_top";
@import "single";

$local_img: '#{$url_path}img/';
$local_icon: '#{$url_path}src/';


.launch_imv {
    h3 {
        a {
            span {
                color: #d60812;
            }
        }
    }
}



section {
    &.banner {
        height: 30.15em;

        @include media-max(lg){
            height: 25.25em;
        }

        @include media-max(sm){
            height: 30em;
        }

        .banner_controller {
            
        @include media-max(sm){
            height: 30em;
        }
            .bg_ {
                .bg{
                    &._certify {
                        left: 0em;
                    }

                    &._left{
                        @include media-max(lg){
                            height: 25.5em;
                        }
                    }

                    &._right {
                        ._bg_content{
                            &.container {
                                width: 21vw;
                                padding: 0 3.85em;
                                float: right;
                                top: calc(50% - 7.5vh);
                                position: relative;
                                h3{
                                    span{
                                        text-decoration: underline white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.section-icetab{
        box-sizing: border-box;
        transition: all ease-in-out .5s;
        -moz-transition: all ease-in-out .5s;
        -webkit-transition: all ease-in-out .5s;
        background: #E9E9E9;

        h3{
            padding: 3%;
        }

        h4{
            padding: 1% 1.5%;
        }
        
        #icetab-container{
            padding: 0 3%;

            @include media-max(lg){
                padding: 0 7%;
            }

            @include media-max(sm){
                padding: 0;
            }
        }

        .tabcontent {
            padding: 0 3%;
            background-image: url(#{$local_img}banner_contatos.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;

            
            h3{
                padding: 4% 1.5% 1% 1.5%;
            }

            h4{
                padding: 1% 1.5%;
            }

            &:before {
                content: '';
                display: block;
                background-color: #00000030;
                width: 100%;
                height: 100%;
                position: absolute;
                margin: 0 -3% 0 -3%;
            }
        }
    
        .icetab {
            padding: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    .current-tab { 
        //background: #ff9900;
        //border-bottom: 2px solid #AEAEAE !important;
        color: white!important;
        background: #AEAEAE !important;
    }
    
    .icetab {
        border-left: 1px solid #e9e9e9;
        display: inline-block;
        margin: 0px -2px;
        background: #FBFBFB;
        color: #676767;
        cursor: pointer;
        border-right: 0px;
        padding: .5em 3.5em;

        font-family: 'Roboto', sans-serif;
        font-weight: 500;


        @include media-max(sm){
            margin: 0;
            padding: 2.5em 1.5em;
            width: 50%;
            font-size: 60%;
        }


        &:first-child{
            border:0;
        }
    }
    
    
    #icetab-content {
        overflow: hidden;
        position: relative;
        //border-top: 2px solid #ff9900;
    }
    
    
    .tabcontent {
        position: absolute;
        //top: 0;
        //background: #fff;
        width: 100%;
        display: none;
        &:first-child {
            position: relative;	
        }
        &.tab-active {
            border-top: 0px;
            display: block !important;
            position: relative;
            //opacity: 1;
        }
    }
}


form {
    z-index: 2;
    position: relative;
}

.wpcf7-response-output {
    margin: 0em 0.5em 1em !important;
    padding: 0.2em 1em;
    background: #d60812 !important;
    color: white !important;
    border: 2px solid #ff0000 !important;
}

.wpcf7-validation-errors{
    position: absolute;
    border-color:#D60812;
    border-radius: .25em;
    background: #D60812;
    color:white;
    margin: -0.25em;
    width: 28.75%;
    padding: .25em 0;
    text-align: center;
}

.cliente {

    span{

        &.wpcf7-not-valid-tip{
            color: #D60812;
            position: absolute;
            z-index: 1;
            width: auto;
            top: 6.5%;
            right: 6%;
            font-size: 65%;
            border-radius: .25em;
            padding: .25em;
            font-weight: bold;
            text-align: center;
        }
    
    }
    
    .wpcf7-validation-errors{
        position: absolute;
        border-color:#D60812;
        border-radius: .25em;
        background: #D60812;
        color:white;
        margin: -0.25em;
        width: 28.75%;
        padding: .25em 0;
        text-align: center;
    }
    
    .wpcf7-response-output {
        margin: 2em 0.5em 1em;
        padding: 0.2em 1em;
        border: 2px solid #ff0000 !important;
    }
    
    
    
    .ajax-loader{
        background: transparent !important;
        width: 10em !important;
        background-repeat: no-repeat;
        height: 10em !important;
        padding: .5em !important;
        top: -9.5em;
        left: 70%;
        margin: -25% -25% !important;
        z-index: 9;
        position: relative;
        overflow: hidden;
        background-size: 100%;
        border-radius: .25em;
    
        &:before{
            background-image: url('/wp-content/themes/construcao/config/src/loader.svg');
            content: '';
            display: block;
            width: 100%;
            z-index: 0;
            position: relative;
            height: 100%;
        }
    }

    display: flex;
    ul {
        display: inline-flex;

        @include media-max(sm){
            flex-wrap: wrap;
        }

        li{
            width: 25%;
            margin: 5% 1%;


            @include media-max(sm){
                width: 100%;
                margin: 1%;
            }

            input {
                margin: 0 0 5% 0;
                border-radius: 0 !important;
                padding: .75em;
                font-family: 'Roboto', sans-serif;
                color:#676767;

                &[type="submit"]{
                    margin: 5% 0 0 0;
                    background: #D60812;
                    border: 1px solid #D60812;
                    color: white;
                    transition: all .4s;
                    font-family: 'Roboto', sans-serif;


                    &:hover{
                        background: transparent;
                        border: 1px solid #D60812;
                        color: #D60812;
                    }
                }
            }

            select {
                margin: 0 0 5% 0;
                padding: .70em;
                font-family: 'Roboto', sans-serif;
                color:#676767;
            }
            textarea{
                padding: .75em;
                height: 10.5em;
                font-family: 'Roboto', sans-serif;
                color:#676767;
            }

        }
    }
}


.Fornecedor {

    span{

        &.wpcf7-not-valid-tip{
            color: #D60812;
            position: absolute;
            z-index: 1;
            width: auto;
            top: 6.5%;
            right: 6%;
            font-size: 65%;
            border-radius: .25em;
            padding: .25em;
            font-weight: bold;
            text-align: center;
        }
    
    }
    
    .wpcf7-validation-errors{
        position: absolute;
        border-color:#D60812;
        border-radius: .25em;
        background: #D60812;
        color:white;
        margin: -0.25em;
        width: 28.75%;
        padding: .25em 0;
        text-align: center;
    }  
    
    .ajax-loader{
        background: transparent !important;
        width: 5em !important;
        background-repeat: no-repeat;
        height: 5em !important;
        padding: .5em !important;
        left: 0;
        z-index: 9;
        position: absolute;
        overflow: hidden;
        background-size: 100%;
        border-radius: .25em;
    
        &:before{
            background-image: url('/wp-content/themes/construcao/config/src/loader.svg');
            content: '';
            display: block;
            width: 100%;
            z-index: 0;
            position: relative;
            height: 100%;
        }
    }

    display: flex;
    ul {
        display: inline-flex;
        @include media-max(sm){
            flex-wrap: wrap;
        }
        li{
            width: 25%;
            margin: 3% 1%;

            @include media-max(sm){
                width: 100%;
                margin: 1%;
            }

            ul{
                @include media-max(sm){
                    flex-wrap: nowrap;
                }
                li{
                    width: 50%;
                    width: 50%;
                    margin: 0% 0 0 2%;

                    &:first-child{
                        margin:0;
                    }
                }
            }

            input {
                margin: 0 0 5% 0;
                border-radius: 0 !important;
                padding: .75em;

                &[type="submit"]{
                    margin: 5% 0 0 0;
                    background: #D60812;
                    border: 1px solid #D60812;
                    color: white;
                    transition: all .4s;


                    &:hover{
                        background: transparent;
                        border: 1px solid #D60812;
                        color: #D60812;
                    }
                }

            }

            select {
                margin: 0 0 5% 0;
                padding: .70em;
            }
            textarea{
                padding: .75em;
                height: 10.5em;
            }

        }
    }
}

.trabalhe_conosco{
    display: flex;
    padding: 0 0 3% 0;
    
    span{

        &.wpcf7-not-valid-tip{
            color: #D60812;
            position: absolute;
            z-index: 1;
            width: auto;
            top: 6.5%;
            right: 6%;
            font-size: 65%;
            border-radius: .25em;
            padding: .25em;
            font-weight: bold;
            text-align: center;
        }
    
    }
    
    .wpcf7-validation-errors{
        position: absolute;
        border-color:#D60812;
        border-radius: .25em;
        background: #D60812;
        color:white;
        margin: -0.25em;
        width: 28.75%;
        padding: .25em 0;
        text-align: center;
    }
    
    .wpcf7-response-output {
        margin: 2em 0.5em 1em;
        padding: 0.2em 1em;
        border: 2px solid #ff0000 !important;
    }
    
    
    
    .ajax-loader{
        background: transparent !important;
        width: 10em !important;
        background-repeat: no-repeat;
        height: 10em !important;
        padding: .5em !important;
        top: -9.5em;
        left: 70%;
        margin: -25% -25% !important;
        z-index: 9;
        position: relative;
        overflow: hidden;
        background-size: 100%;
        border-radius: .25em;
    
        &:before{
            background-image: url('/wp-content/themes/construcao/config/src/loader.svg');
            content: '';
            display: block;
            width: 100%;
            z-index: 0;
            position: relative;
            height: 100%;
        }
    }



    ul {
        display: inline-flex;

        @include media-max(sm){
            flex-wrap: wrap;
        }

        li{
            width: 25%;
            margin: 1% 1%;

            @include media-max(sm){
                width: 100%;
            }

            ul{

                @include media-max(sm){
                    flex-wrap: nowrap;
                }

                li{
                    width: 50%;
                    width: 50%;
                    margin: 0% 0 0 2%;

                    &:first-child{
                        margin:0;
                    }
                }
            }

            input {
                margin: 0 0 5% 0;
                border-radius: 0 !important;
                padding: .75em;

                &[type="submit"]{
                    margin: 5% 0 0 0;
                    background: #D60812;
                    border: 1px solid #D60812;
                    color: white;
                    transition: all .4s;


                    &:hover{
                        background: transparent;
                        border: 1px solid #D60812;
                        color: #D60812;
                    }
                }

                &[type="file"]{
                    background: white;
                    margin: 5% 0 0 0;
                }
            }

            select {
                margin: 0 0 5% 0;
                padding: .70em;
            }
            textarea{
                padding: .75em;
                height: 12.75em;
            }

        }
    }
}

.vendaterreno{
    span{

        &.wpcf7-not-valid-tip{
            color: #D60812;
            position: absolute;
            z-index: 1;
            width: auto;
            top: 6.5%;
            right: 6%;
            font-size: 65%;
            border-radius: .25em;
            padding: .25em;
            font-weight: bold;
            text-align: center;
        }
    
    }
    
    .wpcf7-validation-errors{
        position: absolute;
        border-color:#D60812;
        border-radius: .25em;
        background: #D60812;
        color:white;
        margin: -0.25em;
        width: 28.75%;
        padding: .25em 0;
        text-align: center;
    }
    
    .wpcf7-response-output {
        margin: 2em 0.5em 1em;
        padding: 0.2em 1em;
        border: 2px solid #ff0000 !important;
    }
    
    
    
    .ajax-loader{
        background: transparent !important;
        width: 10em !important;
        background-repeat: no-repeat;
        height: 10em !important;
        padding: .5em !important;
        top: -9.5em;
        left: 70%;
        margin: -25% -25% !important;
        z-index: 9;
        position: relative;
        overflow: hidden;
        background-size: 100%;
        border-radius: .25em;
    
        &:before{
            background-image: url('/wp-content/themes/construcao/config/src/loader.svg');
            content: '';
            display: block;
            width: 100%;
            z-index: 0;
            position: relative;
            height: 100%;
        }
    }


    display: flex;
    ul {
        display: inline-flex;
        @include media-max(sm){
            flex-wrap: wrap;
        }
        li{
            width: 25%;
            margin: 3% 1%;
            @include media-max(sm){
                width: 100%;
                margin: 1%;
            }

            ul{
                @include media-max(sm){
                    flex-wrap: nowrap;
                }
                li{
                    width: 50%;
                    width: 50%;
                    margin: 0% 0 0 2%;

                    &:first-child{
                        margin:0;
                    }
                }
            }

            input {
                margin: 0 0 5% 0;
                border-radius: 0 !important;
                padding: .75em;

                &[type="submit"]{
                    margin: 5% 0 0 0;
                    background: #D60812;
                    border: 1px solid #D60812;
                    color: white;
                    transition: all .4s;


                    &:hover{
                        background: transparent;
                        border: 1px solid #D60812;
                        color: #D60812;
                    }
                }

                &[type="file"]{
                    background: white;
                    margin: 5% 0 0 0;
                }
            }

            select {
                margin: 0 0 5% 0;
                padding: .70em;
            }
            textarea{
                padding: .75em;
                height: 6.5em;
                margin: 0 0 5% 0;
            }
            
            .text-1520 {
                input {
                    width: 85%;
                }

                &:before{
                    content: 'M';
                    font-size: 2em;
                    font-weight: 800;
                    margin: 0;
                    top: 2%;
                    top: 1%;
                    left: -6%;

                    @include media-max(lg){
                        left: -4%;
                    }

                    position: relative;
                    float: right;
                }
                &:after {
                    content: '2';
                    font-size: 1.15em;
                    font-weight: 800;
                    margin: 0;
                    top: 2.5%;
                    left: 3%;

                    @include media-max(lg){
                        left: 8%;
                    }

                    position: relative;
                    float: right;
                }
            }

        }
    }
}

.banner {
    pointer-events: none;

    .banner_controller .bg_ .bg._certify {
        left: 8em !important;
        z-index: 9;
        pointer-events: all;
    }
}


.launch{
    .swiper-button-prev, .swiper-button-next {
        top: 30%;
    }
    .swiper-button-prev{
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 2em;
        }
    }

    .swiper-button-next{
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 2em;
        }
    }
}

.launch{
    .swiper-button-prev, .swiper-button-next {
        top: 30%;

        @include media-max(sm){
            top: 52%;
        }
    }
    .swiper-button-prev{
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 2em;

            @include media-max(sm){
                font-size: 4em;
            }
        }
    }

    .swiper-button-next{
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 2em;

            @include media-max(sm){
                font-size: 4em;
            }
        }
    }
}


#if_moby .launch {
    display: block;
}


.full-container-no-bg h4 {
    @include media-max(sm){
        margin: 0.5em 0.85em;
        font-size: 17px;
    }
}