@import 'geral.scss';
@import '../../node_modules/swiper/css/swiper.css';


/* COMPONENTS */
@import "components/nav";
@import "components/main_banner";
@import "components/search_home";
@import "components/tab_info";
@import "components/imoveis_exibition";
@import "components/btn";
@import "components/cta_call_top";


.banner {
    pointer-events: none;

    .banner_controller .bg_ .bg._certify {
        z-index: 9;
        pointer-events: all;
    }
}