@import 'geral.scss';
@import '../../node_modules/swiper/css/swiper.css';
@import 'helpers/variaveis';
@import 'helpers/medias';

@import "components/nav";
@import "components/main_banner";
@import "components/search_home";
@import "components/tab_info";
@import "components/imoveis_exibition";
@import "components/btn";
@import "components/cta_call_top";
@import "single";

$local_img: '#{$url_path}img/';
$local_icon: '#{$url_path}src/';


.page-template-obrigado{
    .the-content{
        p{
            font-size: 22pt;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            color: #676767;
            padding: 4em;
            font-weight: 600;
            margin: 1em 4em;

            @include media-max(sm){
                padding: 5%;
                margin: 1em;
                font-size: 16pt;
            }

            border-radius: .25em;
            -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
            -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
        }
    }
}


.launch{
    .swiper-button-prev, .swiper-button-next {
        top: 30%;

        @include media-max(sm){
            top: 52%;
        }
    }
    .swiper-button-prev{
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 2em;

            @include media-max(sm){
                font-size: 4em;
            }
        }
    }

    .swiper-button-next{
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 2em;

            @include media-max(sm){
                font-size: 4em;
            }
        }
    }
}


#if_moby .launch {
    display: block;
}


.full-container-no-bg h4 {
    @include media-max(sm){
        margin: 0.5em 0.85em;
        font-size: 17px;
    }
}