@import 'geral.scss';
@import '../../node_modules/swiper/css/swiper.css';
@import 'helpers/variaveis';
@import 'helpers/medias';

@import "components/nav";
@import "components/main_banner";
@import "components/search_home";
@import "components/tab_info";
@import "components/imoveis_exibition";
@import "components/btn";
@import "components/cta_call_top";
@import "single";

$local_img: '#{$url_path}img/';
$local_icon: '#{$url_path}src/';

section{
    &.banner{
        .banner_controller{
            .bg_{
                .bg{
                    &._left{
                        @include media-max(sm){
                            background-position-x: -30px;
                        }
                    }
                }
            }
        }
    }
}

.launch_imv {
    h3 {
        a {
            span {
                color: #d60812;
            }
        }
    }
}

.bottom{
    .mcmv{
        @include media-max(lg){
            width: 70% !important;
            padding: 0em 0;
        }

        @include media-max(sm){
            width: 100% !important;
            padding: 5%;
        }
    }
}

.has-no-padding-left {
    padding: 5em 0 0 5em;

    @include media-max(sm){
        padding: 5%;
    }

    &.bg_gray{
        background-color: #FBFBFB;
    }

    &.mb{
        margin-bottom: -2.25em !important;
    }

    .bg_{
        background-image:url(#{$local_img}mcmv_bg1.jpg);
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 100%;
        height: 45em;
        width: 31.25em;
        float: right;
        position: relative;
        top: -1.8em;
        background-size: contain;

        @include media-max(lg){
            top: -.4em;
        }

        @include media-max(sm){
            display: none;
        }
    }

    &.bg_il{
        background-image:url(#{$local_icon}predio.svg);
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 100%;

        @include media_max(lg){
            background-position-y: 0;
        }

        @include media-max(sm){
            background-image: none;
        }
    }

    .mcmv{
        width: 50%;
        margin: 0 0 5em 0;

        @include media-max(sm){
            width: 100%;
            margin: 0;
        }

        .timeline_controller{
            margin: 8% 0;
            ul{
                &.timeline_how{
                    padding: 0 10em;

                    padding: 0;

                    li{

                        h4{
                            font-size: 22px;
                            position: relative;
                            top: -1em;
                        }

                        &.bubble_dash {
                            border-left: 2px dashed #d1d1d1;
                            padding: 0 0 0 1.5em;
                            margin: 3% 0;

                            @include media-max(lg){
                                margin: 3% 40px;
                            }

                            &:last-child{
                                border-left:0;
                            }

                            &:before{
                                margin: -1.5em -2.95em;
                                background: red;
                                padding: .45em .75em;
                                border-radius: 50%;
                                font-size: .8em;
                                color: white;
                                font-weight: bold;
                                position: absolute;
                            }

                            &:after{
                                display: block;
                                width: 3.5em;
                                height: 3.5em;
                                background-size: contain;
                                background-repeat: no-repeat;
                                position: absolute;
                                margin: -12em -7em;

                                @include media-max(sm){
                                    display: none;
                                }
                            }

                            &.d1{
                                &:before {
                                    content: '1';
                                }
                                &:after{
                                    content: '';
                                    background-image:url(#{$local_icon}talk_icon.svg);
                                }
                            }
                            &.d2{
                                &:before {
                                    content: '2';
                                }
                                &:after{
                                    content: '';
                                    background-image:url(#{$local_icon}hotel.svg);
                                }
                            }
                            &.d3{
                                &:before {
                                    content: '3';
                                }
                                &:after{
                                    content: '';
                                    background-image:url(#{$local_icon}research.svg);
                                }
                            }
                            &.d4{
                                &:before {
                                    content: '4';
                                }
                                &:after{
                                    content: '';
                                    background-image:url(#{$local_icon}contract.svg);
                                }
                            }
                        }
                    }
                }
            }
            p{
                margin: 0;
                width: 60%;
                height: 8em;

                @include media-max(sm){
                    width: 100%;
                    height: auto;
                    padding: 0 0 2em 0;
                }
            }
        }

        p{
            margin: 2em 0;
            line-height: 2.15em;
        }
    }
}


.info_mcmv {
    ul{
        display: inline-flex;
        flex-wrap: wrap;
        margin: 2% 5%;
        li{
            width:50%;
            padding: 0 2em;
            margin: 2% 0;

            @include media-max(sm){
                width: 100%;
                margin: 15% 0;
            }

            p{
                margin:2% 0;
            }

            ul {
                display: flex;
                flex-direction: column;
                margin: 2% 0;
                li{
                    list-style-type: disc;
                    color: #008421;
                    padding: 0;
                    width: 100%;
                    height: 30px;
                    margin: 0;

                    @include media-max(sm){
                        height: auto;
                        margin: .5em 0;
                    }

                    p{
                        color:#676767;
                    }

                    h3{
                        @include media-max(sm){
                            padding: .5em 0;
                        }
                    }
                }
            }
        }
    }
}


section {
    &.banner {
        height: 30em;

        @include media-max(lg){
            height: 21em;
        }

        @include media-max(sm){
            height: auto !important;
        }
        .banner_controller {
            
            .bg_ {
                .bg{
                    &._right {
                        ._bg_content{
                            &.container {
                                width: 21vw;
                                padding: 0 3.85em;
                                float: right;
                                top: calc(50% - 7.5vh);
                                position: relative;
                                h3{
                                    span{
                                        text-decoration: underline white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.tags {
    p{
        border-radius: 0 !important;
    }
}



section.banner .banner_controller .bg_ .bg._left {
    background-position-y: -50px;
}


.banner {
    pointer-events: none;

    .banner_controller .bg_ .bg._certify {
        z-index: 9;
        pointer-events: all;
    }
}


.launch{
    .swiper-button-prev, .swiper-button-next {
        top: 30%;

        @include media-max(sm){
            top: 52%;
        }
    }
    .swiper-button-prev{
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 2em;

            @include media-max(sm){
                font-size: 4em;
            }
        }
    }

    .swiper-button-next{
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 2em;

            @include media-max(sm){
                font-size: 4em;
            }
        }
    }
}


#if_moby .launch {
    display: block;
}


.full-container-no-bg h4 {
    @include media-max(sm){
        margin: 0.5em 0.85em;
        font-size: 17px;
    }
}