section.form_call_cta .form_space {
    top: -136px;
}

section.banner .banner_controller{
    height: unset;
}

.has-no-padding-left .mcmv .timeline_controller ul.timeline_how {
    padding: 0 6em 0 10em;
}

.has-no-padding-left .mcmv .timeline_controller ul.timeline_how li h4 {
    color: #676767;
}

.has-no-padding-left .mcmv .timeline_controller p {
    height: auto;
    top: -1em;
    position: relative;
    margin: 1em 0;
}


.has-no-padding-left .mcmv .timeline_controller ul.timeline_how li.bubble_dash.d1:after {
    margin: -20em -7em -12em -7em;
}

.has-no-padding-left .mcmv .timeline_controller ul.timeline_how li.bubble_dash.d3:after {
    margin: -20em -7em -12em -7em;
}

.image_results_controller{
    background-size: 100% 100%;
}


.trabalhe_conosco ul li input[type="submit"] {
    margin: .95em 0 0 0;
    background: #D60812;
    border: 1px solid #D60812;
    color: white;
    transition: all .4s;
}

.trabalhe_conosco ul li input {
    margin: 0 0 1.15em 0;
    border-radius: 0 !important;
    padding: .75em;
}

.trabalhe_conosco ul li select {
    margin: 0 0 1.25em 0;
    padding: .70em;
}

.file-class {
    background: white;
    padding: .85em .5em;
    margin: 1.40em 0 -5% 0;
}


.vendaterreno ul li .text-1520:after {
    left: 5%;
}

header nav .search-block input {
    background: transparent;
    padding: 0 .4em;
    font-size: .9em;
    top: -.15em;
    position: relative;
}


.select-items {
    width: 15.55em;
}


.select-items div, .select-selected {
    padding: 8px 16px;
    color: #AEAEAE;
    cursor: pointer;
    user-select: none;
    font-size: 79%;
}

#reset-button {
    color: white;
    background: #D60812;
    padding: .20em .35em;
    border-radius: .25em;
    font-size: .65em;
    margin: 0 0 0 0.5em;
}

header nav ul.menu {
    width: 60vw;
}

.has-no-padding-left .mcmv .timeline_controller ul.timeline_how li.bubble_dash {
    margin: 11% 0;
}

.has-no-padding-left .bg_ {
    top: 5.2em;
}


section.form_call_cta a {
    position: relative;
    top: 15px;
}