@import "helpers/medias";
@import "helpers/variaveis";

$local_icon:'#{$url_path}src/diferenciais/';

section {
    &.banner-category{
        height: 28.49em;
        width: 100%;
        .bg_{
            height: 28.49em;
            background-size: 100% 125%;
            background-repeat: no-repeat;
            @include media-max(lg){
                background-size: 100% 100%;
            }

            @include media-max(sm){
                background-size: 100% 95%;
                //background-position-x: -250px;
            }

            ._bg_content{
                .bg{
                    &._certify{
                        width: 16.05em;
                        height: 5em;
                        background-repeat: no-repeat;
                        position: absolute;
                        margin: 17% 10%;
                    }
                }
            }

            .bg{
                &._float_left{
                    width: 15em;
                    height: 15em;
                    position: absolute;
                    margin: 20em 3em;
                    right: 0;
                    background-size: contain;
                    background-repeat: no-repeat;
                    pointer-events: none;
                    border-radius: 1em;
                    background-color: white;
                    padding: 1.5em;

                    @include media-max(lg){
                        width: 12em;
                        height: 12em;
                        margin: 22em 3em;
                    }
                }
            }
        }
    }
}


.has-container-right {
    margin: 2% 0 0 5%;

    @include media-max(sm){
        margin: 5%;
        width: 100%;
    }
}

.has-container{
    margin: 2% 0 0 5%;
}

    .about_imv {
        width: 100%;
        //height: 40em;
        padding: 4em;

        @include media-max(sm){
            padding: 0;
        }

        .two_in{
            div {
                width: 50%;
                float: left;
                height: 26em;

                @include media-max(sm){
                    width: 100%;
                    float: unset;
                    height: auto;
                }

                &:first-child{
                    padding:0 5% 0 0;
                }

                p{
                    margin: 4% 0;
                    line-height: 2.15em;
                }

                .if_img{
                    width: 100%;
                    height: 24em;
                    margin: 10% 0 0 0;
                }

                .title_about_imv{
                    color:#676767;
                    font-size: 1.75em;
                    color: #676767;
                    margin: 1.5% 0;
                    //font-weight: 800;
                }

                .player{   
                    .btn-play{
                        width: 6em;
                        height: 6em;
                        display: block;
                        background-repeat: no-repeat;
                        margin: 0 -10px 0 -10px;
                        background-position-x: -3px;
                    }

                    .effect_hide {
                        opacity: 0;
                        -webkit-animation-name: _effect; 
                        -webkit-animation-duration: 1s;
                        animation-name: _effect;
                        animation-duration: 1s;
                        pointer-events: none;
                    }

                    .effect_show{
                        opacity: 1 !important;
                        -webkit-animation-name: _effect_s; 
                        -webkit-animation-duration: 1s;
                        animation-name: _effect_s;
                        animation-duration: 1s;
                    }
                    
                    #play-button {
                        width: 5em;
                        height: 6em;
                        position: absolute;
                        margin: 8.55% 17% 9.75% 18%;

                        @include media-max(sm){
                            margin: 17.55% 13% 7.75% 24%;
                        }

                        background: transparent;
                        border-radius: 50%;
                        z-index: 2;
                        cursor: pointer;
                    }
                    #pause-button{
                        width: 5em;
                        height: 5em;
                        position: absolute;
                        background: white;
                        margin: 20% 0 0 1%;

                        @include media-max(sm){
                            width: 3em;
                            height: 3em;
                            margin: 52% 0 0 0;
                        }

                        z-index: 2;
                        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
                        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
                        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
                        border-radius: 50%;
                        opacity: 0;

                        display: flex;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                        cursor: pointer;

                        &:before {
                            content: '';
                            display: block;
                            width: 2em;
                            height: 2em;

                            @include media-max(sm){
                                width: 1.2em;
                                height: 1.2em;
                            }

                            background: #d60d16;
                            -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 0, 0, 0.15);
                            -moz-box-shadow: 0px 0px 15px 0px rgba(255, 0, 0, 0.15);
                            box-shadow: 0px 0px 15px 0px rgba(255, 0, 0, 0.15);
                            border-radius: .25em;

                        }
                    }
                }

                .thumbnail{
                    width: 45% !important;

                    @include media-max(sm){
                        width: 100% !important;
                        height: auto;
                        left: 2.5%;
                    }

                    z-index: 1;
                    position: absolute;
                    height: 26.7em;
                    img{
                        width: 100%;
                        height: 100%;
                    }

                    &.thumbnail_effect{
                        opacity: 0;
                        -webkit-animation-name: _effect; 
                        -webkit-animation-duration: 2s;
                        animation-name: _effect;
                        animation-duration: 2s;
                        pointer-events: none;
                    }
                }

                @keyframes _effect {
                    0%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }

                @keyframes _effect_s {
                    0%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1;
                    }
                }


                #media-player {
                    width: 40%;
                    height: 26.7em;
                    position: absolute;

                    @include media-max(sm){
                        width: 95%;
                        height: 12em;
                        left: 2.5%;
                        position: relative;
                        margin: 36% 0;
                    }

                    #ytplayer {
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        margin: 0;

                        iframe{
                            width: 100%;
                            height: 100%;
                            padding: 0;
                            margin: 0;
                        }
                    }
                }

                .video_about_imv_controller {
                    width: 100%;
                }
            }
        }
    }

    #crumbs{
        color: #AEAEAE;

        @include media-max(sm){
            margin: 25% 0 0 0;
        }
    
        a{
            color:#AEAEAE;
        }
    }
    
    .title_imv{
        font-size: 1.75em;
        color: #676767;
        margin: 1.5% 0;
    }
    
    .tags {
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;

        .interna{
            &.Documentacao_gratis{
                background:#FB595C !important;
            }

            &.fechado{
                background: #eb0034 !important;
            }

            &.ITBI {
                background: #AB09E8 !important;
            }

            &.Unidades {
                background: #eb0034 !important;
            }

            &.Pronto.para.morar{
                background: #008421;
            }

            &.Em.andamento{
                background: #0C7DB4 ;
            }

            &.Lancamento{
                background: #D60812 !important;
            }

            &.Breve_Lancamento {
                    background: #ff8000 !important;
            }
            &.Iniciadas{
                    background: #41d4b3 !important;
            }

            &.Entregue {
                background: #1794E8 !important;
            }

            
            &.Mude.em {
                background: coral !important;
            }
        }
    
        p{
            background: black;
            color: white;
            font-weight: bold;
            padding: .5em 1.5em;
            border-radius: 1em;
            margin: 1% 1% 0 0;
            font-size: .8em;

            &:first-child {
                background: #1794E8 !important;
            }

            &:nth-child(2) {
                background: #D60812 !important;
            }

            &:last-child{
                background: #008421 !important;
            }

        }
    }


    .differentials_imv {
        //height: 40em;
        padding: 0 0 0 3.5%;
        display: inline-flex;
        width: 100%;
        .title_about_imv{
            margin: 1.5% 0;
        }

        .two_in{
            float: left;
            &.eighty{
                width: 100%;
            }
            &.twenty{
                width: 0;

                .bg_collumn_right img {
                    float: right;
                }
            }
        }

        .differentials_controller{
            padding: 5% 0 0 0;
            .btn_simulacao {
                margin: 5% 0;
            }
        }

        ul{
            &.icons_presentation{
                display: inline-flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                position: relative;
                left: -5em;
                width: 100%;

                @include media-max(lg){
                    left: -1em;
                    width: 70em;
                }

                @include media-max(sm){
                    left: 0;
                    width: 100%;
                }

                li{
                    margin: 0 0 0 1%;

                    @include media-max(sm){
                        margin: 0;
                        width: 44%;
                    }

                    .icon_controller {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        min-width: 16em;

                        @include media-max(sm){
                            min-width: auto;
                        }

                        text-align: center;
                        padding: .5em;

                        &.active{
                            background-color: #E9E9E9;
                        }

                        p{
                            width: 60%;
                            margin: 5% 0;
                            color:#aeaeae;

                            @include media-max(sm){
                                width: 100%;
                            }
                        }

                        i{
                            width: 3.5em;
                            height: 3.5em;
                            background-size:100% 100%;
                            display: block;
                            &.icon_1{
                                background-image: url(#{$local_icon}icon_1.svg);
                            }
                            &.icon_2{
                                background-image: url(#{$local_icon}icon_2.svg);
                            }
                            &.icon_3{
                                background-image: url(#{$local_icon}icon_3.svg);
                            }
                            &.icon_4{
                                background-image: url(#{$local_icon}icon_4.svg);
                            }
                            &.icon_5{
                                background-image: url(#{$local_icon}icon_5.svg);
                            }
                            &.icon_6{
                                background-image: url(#{$local_icon}icon_6.svg);
                            }
                            &.icon_7{
                                background-image: url(#{$local_icon}icon_7.svg);
                            }
                            &.icon_8{
                                background-image: url(#{$local_icon}icon_8.svg);
                            }
                            &.icon_9{
                                background-image: url(#{$local_icon}icon_9.svg);
                            }
                            &.icon_10{
                                background-image: url(#{$local_icon}icon_10.svg);
                            }
                            &.icon_11{
                                background-image: url(#{$local_icon}icon_11.svg);
                            }
                            &.icon_12{
                                background-image: url(#{$local_icon}icon_12.svg);
                            }
                            &.icon_13{
                                background-image: url(#{$local_icon}icon_13.svg);
                            }
                            &.icon_14{
                                background-image: url(#{$local_icon}icon_14.svg);
                            }
                            &.icon_15{
                                background-image: url(#{$local_icon}icon_15.svg);
                            }
                            &.icon_16{
                                background-image: url(#{$local_icon}icon_16.svg);
                            }
                            &.icon_17{
                                background-image: url(#{$local_icon}icon_17.svg);
                            }
                            &.icon_18{
                                background-image: url(#{$local_icon}icon_18.svg);
                            }
                            &.icon_19{
                                background-image: url(#{$local_icon}icon_19.svg);
                            }
                            &.icon_20{
                                background-image: url(#{$local_icon}icon_20.svg);
                            }
                        }
                    }
                }
            }
        }
    }

    h3{
        color:#676767;
        font-size: 28px;


        @include media-max(lg){
            font-size: 20px;
        }

        color: #676767;
    }

.tabs{
    box-sizing: border-box;
    transition: all ease-in-out .5s;
	-moz-transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    
    .tabcontent {
        padding: 40px 0;
    }

    .icetab {
        padding: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
.current-tab { 
    //background: #ff9900;
    border-bottom: 2px solid #D60812 !important;
    color: #D60812 !important;
}

.icetab {
    border-bottom: 2px solid #676767;
    display: inline-block;
    margin: 0px -2px;
    color: #676767;
    cursor: pointer;
    border-right: 0px;
}


#icetab-content {
	overflow: hidden;
	position: relative;
	//border-top: 2px solid #ff9900;
}


.tabcontent {
    position: absolute;
    top: 0;
	background: #fff;
    width: 100%;
    height: 35em;
    opacity: 0;
    &:first-child {
        position: relative;	
    }
    &.tab-active {
        border-top: 0px;
        //display: block;
        opacity: 1;
    }
}


}


.mg-r{
    margin: 0 0 0 7em !important;

    @include media-max(sm){
        margin: 0 !important;
    }
}

.gallery_and_technical{
    .two_in {

        height: 40em;
        @include media-max(sm){
            height: auto;
        }

        div{
            &.fifty {
                float: left;

                @include media-max(sm){
                    float:unset;
                }

                &:first-child{
                    width: 45%;
                    margin: 0;

                    @include media-max(sm){
                        width: 100%;
                    }
                }
    
                &:last-child{
                    right: 0px;
                    margin: 8.75em 0 0 .75em;
                    height: 38.35em;
                    position: absolute;
                    background: #E9E9E9;
                    padding: 3em 5em;
                    width: 50.5%;

                    @include media-max(lg){
                        right: 0px;
                        margin: 8.15em 0 0 .75em;
                        height: 38.35em;
                        position: absolute;
                        background: #E9E9E9;
                        padding: 3em 5em;
                        width: 49%;
                    }

                    @include media-max(sm){
                        height: auto;
                        width: 100%;
                        padding: 5%;
                        position: relative;
                        margin: 0;
                    }
                }
                
                ul{
                    &.datasheet_red_bubble{
                        li{
                            margin: 3% 1.5%;

                            &:before {
                                content: "\2022";
                                color: red;
                                font-weight: bold;
                                display: inline-block; 
                                width: 1em;
                                margin-left: -1em;
                            }

                            &:last-child{
                                &:before {
                                    content: "";
                                    color: unset;
                                }

                            }

                            a{
                                &.btn_red{
                                    padding: .65em 2.9em;
                                }
                            }

                        }
                    }
                }

                  .swiper-slide {
                    background-size: cover;
                    background-position: center;
                  }
                  .gallery-top-1 {
                    height: 80%;
                    width: 100%;
                  }
                  .gallery-thumbs-1 {
                    height: 20%;
                    box-sizing: border-box;
                    padding: 10px 0;
                    .swiper-slide {
                        height: 100%;
                        opacity: 0.4;
                        width: 25% !important;
                    }
                    .swiper-slide-thumb-active {
                        opacity: 1;
                      }
                  }

                  .gallery-top-2 {
                    height: 80%;
                    width: 100%;
                  }
                  .gallery-thumbs-2 {
                    height: 20%;
                    box-sizing: border-box;
                    padding: 10px 0;
                    .swiper-slide {
                        height: 100%;
                        opacity: 0.4;
                        width: 25% !important;
                    }
                    .swiper-slide-thumb-active {
                        opacity: 1;
                      }
                  }

                  .gallery-top-3 {
                    height: 80%;
                    width: 100%;
                  }
                  .gallery-thumbs-3 {
                    height: 20%;
                    box-sizing: border-box;
                    padding: 10px 0;
                    .swiper-slide {
                        height: 100%;
                        opacity: 0.4;
                        width: 25% !important;
                    }
                    .swiper-slide-thumb-active {
                        opacity: 1;
                      }
                  }

 
            }
        }
    }
}


.full-container-no-bg{
    width: 100%;
    height: auto;
    float: left;
    padding: 1.5em;
    margin: 0 0 2% 0;

    h4{
        color:#676767;
        font-size: 22px;
        margin: 0 4.25em;

        @include media-max(lg){
            margin: 0 2.85em;
        }
    }
}


.full-container{
    width: 100%;
    height: auto;
    float: left;
    padding: 1.5em;
    background: #E9E9E9;
    margin: 0;

    .progress_controller {
        width: 90%;
        margin: 0 auto;

        @include media-max(sm){
            display: none;
        }

        .progress {
            width: 100%;
            height: 2em;
          }
          .progress-wrap {
            background: #D60812;
            margin: 20px 0;
            overflow: hidden;
            position: relative;
            border-radius: 5em;
            .progress-bar {
              background: #ddd;
              left: 0;
              position: absolute;
              top: 0;
            }
          }
    
          ul{
              display: inline-flex;
              width: 100%;
              li{
                margin: 0 auto;
                opacity: 0.4;

                &.active{
                    opacity: 1;
                }
              }
          }
    }

}


.map_controller{
    width:100%;
    float:left;
    padding: 3% 5% 0 0;

    .pos_maps_routes {
        width: 21%;
        height: 25em;
        position: absolute;
        z-index: 9;
        margin: -1% 0;
        right: 5%;

        @include media-max(sm){
            width: 100%;
            height: auto;
            position: relative;
            right: 0;
            margin: 0;
        }
    }

    .map_empreendimento{
        background: #CE1B29;
        color: white;
        padding: 1em 2em;
        height: 50%;

        @include media-max(sm){
            padding: 1em .5em;
            height: 45%;
        }

        span{
            &.active{
                margin: -1% -95%;
                position: absolute;
                background: #ce1b29;
                padding: .5em;
            }

            &.inactive{
                display: none;
            }
        }
        
        button{
            background: transparent;
            color: white;
            cursor: pointer;
            padding: .9em;

            @include media-max(sm){
                background: white;
                font-weight: bold;
                color: #ce1b29;
                cursor: pointer;
                padding: 1.5em .9em;
                width: 100%;
            }
        }

        h5{
            margin: 1em 0 1.5em 0;
            font-weight: normal;
            font-size: 1.15em;

            @include media-max(sm){
                margin: 0.5em;
                font-weight: normal;
                font-size: .95em;
            }
        }

        input{
            background: transparent;
            border-bottom: 1px solid white;
            border-radius: 0 !important;
            color: white;
            padding: 0.25em 1.25em;
            width: 70%;

            
            @include media-max(sm){
                width: 100%;
            }

            font-size: 1.25em;
            &::placeholder {
                color: white;
                font-size: 1.25em;
            }
        }


        h3{
            color:white;
        }
    }
    .map_estande{
        background: #676767;
        color: white;
        padding: 1em 2em;
        margin: 1em 0 0 0;
        height: 50%;

        @include media-max(sm){
            padding: 1em .5em;
            margin: 0;
            height: 45%;
        }

        span{
            &.active{
                margin: -1% -95%;
                position: absolute;
                background: #676767;
                padding: .5em;
            }

            &.inactive{
                display: none;
            }
        }

        button{
            background: transparent;
            color: white;
            cursor: pointer;
            padding: .9em;

            @include media-max(sm){
                background: white;
                font-weight: bold;
                color: #676767;
                cursor: pointer;
                padding: 1.5em .9em;
                width: 100%;
            }
        }
       h5{
            margin: 1em 0 1.5em 0;
            font-weight: normal;
            font-size: 1.15em;

            @include media-max(sm){
                margin: 0.5em;
                font-weight: normal;
                font-size: .95em;
            }
        }

        input{
            background: transparent;
            border-bottom: 1px solid white;
            border-radius: 0 !important;
            color: white;
            padding: 0.25em 1.25em;
            width: 70%;

            @include media-max(sm){
                width: 100%;
            }

            font-size: 1.25em;
            &::placeholder {
                color: white;
                font-size: 1.25em;
            }
        }

        h3{
            color:white;
        }
    }

    .address {
        margin: 0 0 2% 0;
        p {
            margin: 1% 0;
        }
    }

    .acf-map {
        width: 100%;
        height: 40em;
        //border: #ccc solid 1px;
        margin: 20px 0;
    }
    
    // Fixes potential theme css conflict.
    .acf-map img {
       max-width: inherit !important;
    }
}

.container-left{
    float:left;
    width: 100%;
}

.results {
    margin: 2% 0 !important;
}

.banner {
    pointer-events: none;

    .banner_controller .bg_ .bg._certify {
        z-index: 9;
        pointer-events: all;
    }
}



.launch{
    .swiper-button-prev, .swiper-button-next {
        top: 30%;
    }
    .swiper-button-prev{
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 2em;
        }
    }

    .swiper-button-next{
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 2em;
        }
    }
}


.launch{
    .swiper-button-prev, .swiper-button-next {
        top: 30%;

        @include media-max(sm){
            top: 52%;
        }
    }
    .swiper-button-prev{
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 2em;

            @include media-max(sm){
                font-size: 4em;
            }
        }
    }

    .swiper-button-next{
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 2em;

            @include media-max(sm){
                font-size: 4em;
            }
        }
    }
}


#if_moby .launch {
    display: block;
}


.full-container-no-bg h4 {
    @include media-max(sm){
        margin: 0.5em 0.85em;
        font-size: 17px;
    }
}

section.form_call_cta .form_space .form_controller .full {
    margin: 5% 0 0 0;
}


.differentials_imv .differentials_controller .btn_simulacao {
    margin: 2% 0;
}


section.form_call_cta .form_space .title_form_call h3{
    margin: 2% 0 7% 0;
}


section.form_call_cta .form_space .form_controller .full p input {
    width: 95%;
    margin: 5.5% 5% 1.5% 0;
}