@import "../helpers/medias";


.resulting{
    display: flex;
    margin: 2% 5%;
    overflow: hidden;

    .swiper-button-prev{
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 4em;
        }
    }

    .swiper-button-next{
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 4em;
        }
    }

    &.launch{
        .content-loop{
            width: 100%;
        }

        .swiper-button-prev{
            color:#D60812;
            &.swiper-button-disabled{
                opacity: 1;
                color: #AEAEAE;
            }
    
            &:after{
                font-size: 4em;
            }
        }
    
        .swiper-button-next{
            color:#D60812;
            &.swiper-button-disabled{
                opacity: 1;
                color: #AEAEAE;
            }
    
            &:after{
                font-size: 4em;
            }
        }
    }

    .content-loop{
        //display: inline-flex;
        //width: 100%;
        .results-list{
            //width: 20vw;
            margin: 0 auto;
            
            .search-filter-result-item{
                background:#E9E9E9;
                width: 100%;

                .result_content_controller {
                    padding: 1.5em;
                    min-height: 17em;
                    line-height: 24px;

                    @include media-max(lg){
                        min-height: 15em;
                        padding: .75em 1.5em;
                    }

                    .tags {
                        display: inline-flex;
                        width: 100%;
                        margin: 2% 0;
                        flex-wrap: wrap;
                        p{

                            &.tag {
                                padding: 0 .5em;
                                color: white;
                                margin: .5em .5em .5em 0;

                                &.Documentacao_gratis{
                                    background:#FB595C !important;
                                }

                                &.ITBI {
                                    background: #AB09E8 !important;
                                }

                                &.Unidades {
                                    background: #eb0034 !important;
                                }

                                @include media-max(lg){
                                    margin: .25em .25em .25em 0;
                                }

                                font-size: 11px;
                                background: #888888;
                                border-radius: 0;
                                width: auto;


                                &.off{
                                    &.Documentacao_gratis{
                                        background:#FB595C !important;
                                    }

                                    &.ITBI {
                                        background: #AB09E8 !important;
                                    }

                                    &.Unidades {
                                        background: #eb0034 !important;
                                    }
                                }


                                &.on{
                                    &.Pronto.para.morar{
                                        background: #008421;
                                    }

                                    &.Em.andamento{
                                        background: #0C7DB4 ;
                                    }

                                    &.Lancamento{
                                        background: #D60812 !important;
                                    }

                                    &.Breve_Lancamento {
                                            background: #ff8000 !important;
                                    }
                                    &.Iniciadas{
                                            background: #41d4b3 !important;
                                    }

                                    &.Entregue {
                                        background: #1794E8 !important;
                                    }

                                    
                                    &.Mude.em {
                                        background: coral !important;
                                    }
                                }
                            }
                        }
                    }
                    
                    h3{
                        font-size: 22px;

                        @include media-max(lg){
                            font-size: 15px;
                        }

                        span{
                            margin: 0 2%;
                            border-left: 2px solid;
                            padding: 0 2%;
                        }
                    }
                    
                    p{
                        font-size: 16px;

                        @include media-max(lg){
                            font-size: 11px;
                        }
                        
                        i{
                            &.icon{
                                width: 25px;
                                height: 25px;
                                display: inline-flex;
                                background-repeat: no-repeat;
                                background-size: 100%;
                                margin: .55em .55em -.95em 0;
                            }
                        }
                        
                        &.m2{
                            &::after{
                                content: '2';
                                font-size: .65em;
                                position: relative;
                                top: -.45em;
                            }
                        }
                    }

                    .medidas{
                        display: inline-flex;
                        width: 100%;
                    }

                    span{
                        &.m2{
                            margin: .15em 0 0 .5em;
                            &::after{
                                content: '2';
                                font-size: .65em;
                                position: relative;
                                top: -.45em;
                            }
                        }
                    }
                }

                a{
                    color:#676767;
                    div{
                        img{
                            width: 100%;
                            max-height: 250.7px;
                            min-height: 250.7px;
                        }
                    }
                }
            }
        }
    }
}



.results{
    display: flex;
    margin: 2% 5%;
    overflow: hidden;

    .swiper-button-prev{
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 4em;
        }
    }

    .swiper-button-next{
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 4em;
        }
    }

    &.launch{
        .content-loop{
            width: 100%;
        }

        .swiper-button-prev{
            color:#D60812;
            left: 2%;
            &.swiper-button-disabled{
                opacity: 1;
                color: #AEAEAE;
            }
    
            &:after{
                font-size: 4em;
            }
        }
    
        .swiper-button-next{
            color:#D60812;
            right: 2%;
            &.swiper-button-disabled{
                opacity: 1;
                color: #AEAEAE;
            }
    
            &:after{
                font-size: 4em;
            }
        }
    }

    .content-loop{
        //display: inline-flex;
        //width: 100%;
        .results-list{
            //width: 20vw;
            margin: 0 auto;
            
            .search-filter-result-item{
                background:#E9E9E9;
                width: 100%;

                .result_content_controller {
                    padding: 1.5em;
                    min-height: 17em;
                    line-height: 32px;

                    @include media-max(lg){
                        min-height: 12em;
                    }

                    .tags {
                        display: inline-flex;
                        width: 100%;
                        margin: 2% 0;
                        flex-wrap: wrap;
                        p{
                            &.tag {
                                padding: 0 .5em;
                                color: white;
                                margin: .5em .5em .5em 0;
                                border-radius: 0;
                                font-size: 12px;
                                background: #888888;
                                width: auto;

                                &.off{
                                    &.Documentacao_gratis{
                                        background:#FB595C !important;
                                    }

                                    &.ITBI {
                                        background: #AB09E8 !important;
                                    }

                                    &.Unidades {
                                        background: #eb0034 !important;
                                    }
                                }
                                &.on{
                                    &.Pronto.para.morar{
                                        background: #008421;
                                    }

                                    &.Em.andamento{
                                        background: #0C7DB4 ;
                                    }

                                    &.Lancamento{
                                        background: #D60812 !important;
                                    }
                                    
                                    &.Breve_Lancamento {
                                        background: #ff8000 !important;
                                    }
                                    &.Iniciadas{
                                        background: #41d4b3 !important;
                                    }
                                    &.Entregue {
                                        background: #1794E8 !important;
                                    }

                                    &.Mude.em {
                                        background: coral !important;
                                    }
                                }
                            }
                        }
                    }
                    
                    h3{
                        font-size: 22px;
                        span{
                            margin: 0 2%;
                            border-left: 2px solid;
                            padding: 0 2%;
                        }
                    }
                    
                    p{
                        font-size: 16px;
                        i{
                            &.icon{
                                width: 25px;
                                height: 25px;
                                display: inline-flex;
                                background-repeat: no-repeat;
                                background-size: 100%;
                                margin: .55em .55em -.95em 0;
                            }
                        }
                        
                        &.m2{
                            &::after{
                                content: '2';
                                font-size: .65em;
                                position: relative;
                                top: -.45em;
                            }
                        }
                    }

                    .medidas{
                        display: inline-flex;
                        width: 100%;
                    }

                    span{
                        &.m2{
                            margin: .15em 0 0 .5em;
                            &::after{
                                content: '2';
                                font-size: .65em;
                                position: relative;
                                top: -.45em;
                            }
                        }
                    }
                }

                a{
                    color:#676767;
                    div{
                        img{
                            width: 100%;
                            max-width: 394.5px;
                            max-height: 250.7px;
                        }
                    }
                }
            }
        }
    }
}



.result{
    display: flex;
    margin: 2% 5%;
    overflow: hidden;

    .swiper-button-prev{
        color:#D60812;
        left: 2%;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 4em;
        }
    }

    .swiper-button-next{
        color:#D60812;
        right: 2%;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 4em;
        }
    }

    .content-loop{
        //display: inline-flex;
        //width: 100%;
        .results-list{
            //width: 20vw;
            //margin: 0 auto;
            
            .search-filter-result-item{
                background:#E9E9E9;
                width: 100%;

                .result_content_controller {
                    padding: 1.5em;
                    min-height: 17em;

                    .tags {
                        display: inline-flex;
                        width: 100%;
                        margin: 2% 0;
                        flex-wrap: wrap;
                        p{
                            &.tag {

                            }
                        }
                    }
                    
                    h3{
                        span{
                            margin: 0 2%;
                            border-left: 2px solid;
                            padding: 0 2%;
                        }
                    }
                    
                    p{
                        i{
                            &.icon{
                                width: 25px;
                                height: 25px;
                                display: inline-flex;
                                background-repeat: no-repeat;
                                background-size: 100%;
                                margin: .55em .55em -.95em 0;
                            }
                        }
                        
                        &.m2{
                            &::after{
                                content: '2';
                                font-size: .65em;
                                position: relative;
                                top: -.45em;
                            }
                        }
                    }

                    .medidas{
                        display: inline-flex;
                        width: 100%;
                    }

                    span{
                        &.m2{
                            margin: .15em 0 0 .5em;
                            &::after{
                                content: '2';
                                font-size: .65em;
                                position: relative;
                                top: -.45em;
                            }
                        }
                    }
                }

                a{
                    color:#676767;
                    div{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.swiper-container-multirow {
    flex-direction: column;
}


.page-template-imoveis{

    .pagination-position-arrow {
        top: unset;
        z-index: 99;
        margin: -50px 0 0 0;

        &.swiper-button-next{
            right: 44%;


            @include media-max(sm){
                right: 2%;
                margin: -155% 0;
                &::after{
                    font-size: 4em !important;
                    color:#D60812 !important;
    
                    &:hover{
                        color: #676767 !important;
                    }
                }
            }

            &::after{
                font-size: 1.25em;
                font-weight: bold;
                color: #676767;
                transition: all .2s;

                &:hover{
                    color:#D60812;
                }
            }
        }
        &.swiper-button-prev{
            left: 44%;

            @include media-max(sm){
                left: 2%;
                margin: -155% 0;
                &::after{
                    font-size: 4em !important;
                    color:#D60812 !important;
    
                    &:hover{
                        color: #676767 !important;
                    }
                }
            }

            &::after{
                font-size: 1.25em;
                font-weight: bold;
                color: #676767;
                transition: all .2s;

                &:hover{
                    color:#D60812;
                }
            }
        }
    }


    .pagination-position {
        width: 100%;
        margin: -50px 0 0 0;

        @include media-max(sm){
            display: none;
        }

        .swiper-pagination-bullet{
            user-select: none;
            width: 25px;
            height: 25px;
            background: transparent;
            font-size: 16pt;
            color: #676767;

            &.swiper-pagination-bullet-active{
                color:#D60812;
                font-size: 20pt;
                background: transparent;
                width: 25px;
                height: 25px;
            }
        }
    }

    .formulario form {
        //margin: 0 3% 0 0;
    }

    .results{
        overflow: hidden;
        margin: 5em;
        width: 91.125%;


        @include media-max(sm){
            margin: 5%;
            width: auto;
        }

        .content-loop{
            .results-list{
                margin:unset;

                .search-filter-result-item{
                    .result_content_controller{
                        min-height: 19em;
                    }
                }
            }
        }
    }
    .result{
        .content-loop{
            .results-list{
                .search-filter-result-item{
                    .result_content_controller{
                        min-height: 19em;
                    }
                }
            }
        }
    }
}

.launch{
    overflow: hidden;
    .swiper-button-prev{
        left:2%;
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 4em;
        }
    }

    .swiper-button-next{
        right:2%;
        color:#D60812;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 4em;
        }
    }
}


.image_results_controller {
    height: 15em;
    background-repeat: no-repeat;
    background-size: cover;

    @include media-max(sm){
        background-size: 100% 100%;
    }
}



.results-fix{
    display: flex;
    margin: 2% 5%;
    overflow: hidden;

    .swiper-button-prev{
        color:#D60812;
        left: 2%;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 4em;
        }
    }

    .swiper-button-next{
        color:#D60812;
        right: 2%;
        &.swiper-button-disabled{
            opacity: 1;
            color: #AEAEAE;
        }

        &:after{
            font-size: 4em;
        }
    }

    .content-loop{
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;

        .results-list{
            width: 24%;
            margin: 0 .5% 1% .5%;

            @include media-max(sm){
                width: 100%;
            }
            
            .search-filter-result-item{
                background:#E9E9E9;
                width: 100%;

                .result_content_controller {
                    padding: 1.5em;
                    min-height: 17em;

                    .tags {
                        display: inline-flex;
                        width: 100%;
                        margin: 2% 0;
                        flex-wrap: wrap;
                        p{

                            &.tag {
                                padding: 0 .5em;
                                color: white;
                                margin: .5em .5em .5em 0;
                                border-radius: 0;

                                @include media-max(lg){
                                    margin: .25em .25em .25em 0;
                                }

                                font-size: 14px;
                                background: #888888;
                                width: auto;

                                &.off{
                                    &.Documentacao_gratis{
                                        background:#FB595C !important;
                                    }

                                    &.ITBI {
                                        background: #673ab7 !important;
                                    }

                                    &.Unidades {
                                        background: #eb0034 !important;
                                    }
                                }

                                &.on{
                                    &.Pronto.para.morar{
                                        background: #008421;
                                    }

                                    &.Em.andamento{
                                        background: #0C7DB4 ;
                                    }

                                    &.Lancamento{
                                        background: #D60812 !important;
                                    }

                                    &.Breve_Lancamento {
                                            background: #ff8000 !important;
                                    }
                                    &.Iniciadas{
                                        background: #41d4b3 !important;
                                    }

                                    &.Entregue {
                                        background: #1794E8 !important;
                                    }

                                    &.Mude.em {
                                        background: coral !important;
                                    }
                                }
                            }
                        }
                    }
                    
                    h3{
                        span{
                            margin: 0 2%;
                            border-left: 2px solid;
                            padding: 0 2%;
                        }
                    }
                    
                    p{
                        i{
                            &.icon{
                                width: 25px;
                                height: 25px;
                                display: inline-flex;
                                background-repeat: no-repeat;
                                background-size: 100%;
                                margin: .55em .55em -.95em 0;
                            }
                        }
                        
                        &.m2{
                            &::after{
                                content: '2';
                                font-size: .65em;
                                position: relative;
                                top: -.45em;
                            }
                        }
                    }

                    .medidas{
                        display: inline-flex;
                        width: 100%;
                    }

                    span{
                        &.m2{
                            margin: .15em 0 0 .5em;
                            &::after{
                                content: '2';
                                font-size: .65em;
                                position: relative;
                                top: -.45em;
                            }
                        }
                    }
                }

                a{
                    color:#676767;
                    div{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

#if_moby {
    width: 100%;
    overflow: hidden;

    .launch{
        @include media-max(sm){
            display: none;
        }
    }
}