@import "../helpers/medias";

section{
    &.banner{
        overflow: hidden;
        height: 30em;

        @include media-max(lg){
            height: 21em;
        }

        @include media-max(sm){
            height: 30em;
        }

        .swiper-button-prev{
            color:#D60812;
            left: 5%;

            &.swiper-button-disabled{
                opacity: 1;
                color: white;
            }

            &:after{
                font-size: 4em;
            }
        }

        .swiper-button-next{
            color:#D60812;
            right: 5%;
            &.swiper-button-disabled{
                opacity: 1;
                color: white;
            }

            &:after{
                font-size: 4em;
            }
        }

        .banner_controller {
            width: 100vw;
            height: auto;

            .bg_{

                .bg{

                    &._certify{
                        width: 13.25vw;
                        height: 6.5vh;
                        background-repeat: no-repeat;
                        position: relative;
                        margin: 20em 10em;
                        top: 4em;
                        background-size: contain;

                        @include media-max(sm){
                            display: none;
                        }

                        @include media-max(lg){
                            width: 19.25vw;
                            height: 8.5vh;
                            left: 8em;
                            top:unset;
                            margin: 0;
                            bottom: 1em;
                            position: absolute;
                            background-size: contain;
                        }
                    }

                    &._right{
                        float: left;
                        background: #a11520;
                        width: 26vw;
                        background-repeat: no-repeat;
                        height: 50vh;
                        background-size: 100% 100%;

                        &:before {
                            width: 26vw;
                            height: 50vh;
                            content: '';
                            display: block;
                            opacity: 0.2;
                            position: absolute;
                        }

                        ._bg_content{
                            &.container{
                                width: 15vw;
                                padding: 0 3.85em;

                                @include media-max(lg){
                                    padding: .85em;
                                }

                                float: right;
                                top: calc(50% - 7.5vh);
                                position: relative;

                                ._the_left_text {
                                    font-family: 'Roboto', sans-serif;
                                    font-weight: 800;
                                    font-size: 2em;
                                    text-align: right;
                                    color: white;

                                    @include media-max(lg){
                                        font-size: 1.5em;
                                    }
                                }
                            }
                        }
                    }

                    &._left{
                        width: 100%;
                        background-size: cover;
                        overflow: hidden;
                        height: 30.5em;

                        &.moby {
                            height: 30em;
                            background-position-y: 0;
                        }

                        @include media-max(lg){
                            height: 20.5em;
                        }

                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
    }
}

