@font-face {
    font-family: 'vc-icons';
    src: url('../fonts/vc-icons.eot');
    src: url('../fonts/vc-icons.eot') format('embedded-opentype'),
         url('../fonts/vc-icons.woff2') format('woff2'),
         url('../fonts/vc-icons.woff') format('woff'),
         url('../fonts/vc-icons.ttf') format('truetype'),
         url('../fonts/vc-icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'vc-icons';
      src: url('../font/vc-icons.svg?25395214#vc-icons') format('svg');
    }
  }
  */
   
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "vc-icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
.icon-instagram:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-down-arrow:before { content: '\e802'; } /* '' */
.icon-lupa:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-info-mark:before { content: '\e80b'; } /* '' */
.icon-book:before { content: '\e80d'; } /* '' */
.icon-grafic-man:before { content: '\e80e'; } /* '' */
.icon-suitcase:before { content: '\e80f'; } /* '' */
.icon-chat:before { content: '\e810'; } /* '' */
.icon-newspaper:before { content: '\e811'; } /* '' */
.icon-hamburguer:before { content: '\e812'; } /* '' */
.icon-secure:before { content: '\e81d'; } /* '' */
.icon-profile:before { content: '\e81e'; } /* '' */
.icon-justice:before { content: '\e81f'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-seta-esquerda:before { content: '\f104'; } /* '' */
.icon-seta-direita:before { content: '\f105'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-quarto:before { content: '\E816'; } /* '' */