//PROJECT PALLET COLORS
@import "pallet_colors";

//THEME FONT
$font-theme: 'Roboto';

//SITE PATH
$url_path: "/wp-content/themes/construcao/config/";


//FONTS
$font-bold: 'GothamBold';
$font-medium: 'Roboto';
$font-book: 'Gotham-Book';
$font-light: 'Gotham-Light';

//Cores
$text-color: #333;
$cor_1: #57B5FF;
$cor_2: #FF8457;
$cor_3: #CB4BFA;
$cor_4: #FFE44A;
$cor_5: #4AFF62;

//Escurecer
$cor_1_darken: darken( $cor_1 , 20% );
$cor_2_darken: darken( $cor_2 , 20% );
$cor_3_darken: darken( $cor_3 , 20% );
$cor_4_darken: darken( $cor_4 , 20% );
$cor_5_darken: darken( $cor_5 , 20% );

//Esclarecer
$cor_1_lighten: lighten( $cor_1 , 20% );
$cor_2_lighten: lighten( $cor_2 , 20% );
$cor_3_lighten: lighten( $cor_3 , 20% );
$cor_4_lighten: lighten( $cor_4 , 20% );
$cor_5_lighten: lighten( $cor_5 , 20% );

//Alpha
$cor_1_alpha: rgba( $cor_1 , .8 );
$cor_2_alpha: rgba( $cor_2 , .8 );
$cor_3_alpha: rgba( $cor_3 , .8 );
$cor_4_alpha: rgba( $cor_4 , .8 );
$cor_5_alpha: rgba( $cor_5 , .8 );